{% extends "base.html" %} {% block content %}
<div class="hero-container">
  <div class="hero-box">
    <img
      src="../assets/image0.png"
      class="parallax-image"
      data-depth="0"
      top="0px"
    />
    <img
      src="../assets/split1.png"
      class="parallax-image"
      data-depth="0.3"
      top="0px"
    />
    <img
      src="../assets/split2.png"
      class="parallax-image"
      data-depth="0.36"
      top="0px"
    />
    <img
      src="../assets/image3.png"
      class="parallax-image"
      data-depth="0.6"
      top="0px"
    />
    <div class="fade-overlay"></div>
    <div class="overover">
      <h1>Fostering Human/AI Symbiosis...</h1>
    </div>
  </div>
</div>

<script src="{{ 'javascripts/hero.js' | url }}"></script>
{{super()}} {% endblock %} {% block site_nav %}{% endblock %} {% block styles %}
{{ super() }}
<style>
  :root {
    --fade-overlay-color: #fff;
  }

  [data-md-color-scheme="slate"] {
    --fade-overlay-color: #1f2129;
  }

  .hero-container {
    position: relative;
    width: 100%;
    height: 90vh;
    overflow: hidden;
    margin-top: -22px;
  }

  .hero-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .parallax-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 1;
  }

  .fade-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--fade-overlay-color);
    opacity: 0;
  }

  div.overover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff0;
    text-align: center;
  }

  div.overover h1 {
    position: absolute;
    bottom: 10%;
    right: 5%;
    display: inline;
    padding: 10px;
    padding-left: 60px;
    padding-right: 60px;
    border-radius: 18px;
    background-color: var(--fade-overlay-color);
    opacity: 0.8;
    font-weight: bold;
  }
</style>
{% endblock %}
