.md-header__button.md-logo {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.md-header__button.md-logo img,
.md-header__button.md-logo svg {
  height: 80px;
  width: 80px;
}
.mdx-hero--custom {
  margin-top: 0rem;
  margin-bottom: 0rem;
}

.md-main__inner {
  margin-top: 0;
}

div.enter-left {
  opacity: 0;
  transform: translateX(100px);
  border: 2px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

div.enter-right {
  opacity: 0;
  transform: translateX(-100px);
  border: 2px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1.call-to-action {
  font-size: 200%;
  text-align: center;
  padding: 0px;
  margin: 0px;
}
p.call-to-action {
  font-size: 120%;
  font-weight: lighter;
  text-align: center;
  padding: 0px;
  margin: 0px;
  opacity: 0.7;
}

.right {
  float: right;
  margin-top: -3em;
  opacity: 0.5;
}
